[2014-12-03 09:44] aconrad opened #8 "show source code when generating HTML reports"
Just like [coverage.py](https://pypi.python.org/pypi/coverage) and [diff-cover](https://github.com/edx/diff-cover) do it, it would be nice to see the source code as part of the HTML output with color coded lines (red for uncovered lines).

[2014-12-03 09:46] aconrad opened #9 "make HTML output prettier"
Right now the HTML output is a little crude. Some CSS skills would be handy.

[2014-12-10 19:45] msabramo opened #12 "Tests fail on py26"
[code]

or see https://travis-ci.org/SurveyMonkey/pycobertura/jobs/43636329

[2014-12-10 20:26] #9 closed, assigned to nobody

[2014-12-10 20:29] #12 closed, assigned to nobody

[2014-12-12 22:02] aconrad opened #19 "Non-zero exit status if coverage goes down"
I would like to return a non-zero exit status if the coverage goes down:

[code]

[2014-12-12 22:57] #19 closed, assigned to nobody

[2015-01-05 22:38] aconrad opened #34 "pycobertura diff should fail when uncovered lines went up"
Right now, `pycobertura diff` will return a non-zero exit status if the line rate worsened:

https://github.com/SurveyMonkey/pycobertura/blob/6cf7b14d11a7f7cc13270dbae2e5db6eb184ecf2/pycobertura/cli.py#L96

It should rather check if the number of uncovered lines got worse, not the line rate.

[2015-01-06 00:37] aconrad commented on #34
Fixed by #36

[2015-01-06 00:37] #34 closed

[2015-01-06 00:38] aconrad commented on #8
Fixed in #29 and #25.

[2015-01-06 00:38] #8 closed

[2015-01-13 23:08] aconrad opened #50 "fail on uncovered lines or uncovered changes"
Add the ability to fail on uncovered lines or uncovered changes.
- uncovered lines: if the total number of uncovered lines rose, then fail the build. This would be the default and the "strict" version.
- uncovered changes: if a change is not tested (red lines in the diff), then fail the build. Ideally these changes should be covered but if the overall uncovered lines is lower, then the build could

[2015-02-12 17:45] aconrad opened #55 "add a legend to diff HTML report"
Because it looks like a diff of two files, let's ensure that the user understands the following when looking at a pycobertura diff report:
* a red line is an uncovered line that was added/changed by the author OR that the line was previously covered and is now uncovered (regression).
* a green line is a covered line that was added/changed by the author OR that the line was previously uncovered and

[2015-02-12 17:52] aconrad opened #56 "add more visual clues in the diff report"
It would be nice to have additional visual clues on the state of a red/green line, maybe next to the line number:
* when a line was added/removed/modified by the author. The letter "M" (modified) would be shown.
* if a line had its coverage status changed without author modification. The letter "C" (covered/uncovered) would be shown.

We could also consider using icons (they should be super explic

[2015-02-13 02:58] aconrad opened #57 "pycobertura diff could take only 1 coverage file"
pycobertura diff could take only 1 coverage file (e.g. `pycobertura diff coverage.xml`) and then we'd assume that the user wants to do `pycobertura diff coverage.xml coverage.xml`.

[2015-04-17 15:31] #55 closed

[2015-04-17 15:31] #56 closed

[2015-05-29 15:07] Herg opened #63 "Pycobertura diff breaks on non-ascii characters"
[code]

[2015-05-29 23:41] #63 closed

[2015-05-29 23:51] aconrad commented on #63
Thanks for reporting, fixed in #64 and released `pycobertura==0.7.2`.

[2015-06-22 20:06] msabramo opened #69 "UnboundLocalError: local variable 'status' referenced before assignment"
Larry got this error with ProfileWeb build 264927...

[code]

[code]

[2015-06-22 21:29] aconrad commented on #69
After investigation, this may happen if the coverage report passed as first argument (`COBERTURA_FILE1`) was not generated by the source code given as `--source1`.

Closing this issue since it's a user error.

[2015-06-22 21:29] #69 closed

[2016-09-16 13:10] p00j4 opened #76 "how to infer stmts,miss coulms?"
man @aconrad : love you for this awesome help. it saved a lot of my time.
though I'm finding it strange at numbers to understand (1st 3 columns)
Am I missing something or is it a bug ?
**Context**
Observe, the "Missing" column gives perfect line numbers but the "stmts" & "miss" are hard to make information. Ex. 2nd row, it looks like total 7 lines are added, and 1 line is got covered but if you se

[2016-09-16 14:00] p00j4 commented on #76
and the total % (more than 100) also looks strange
<img width="918" alt="screen shot 2016-09-16 at 7 28 56 pm" src="https://cloud.githubusercontent.com/assets/6470509/18588393/e2d9a0f0-7c43-11e6-9022-ddb4939c04dd.png">

[2016-09-17 19:04] aconrad commented on #76
It's hard for me to tell without a working test case.

But I am confused about what you are confused about. ;) First you say:

Just to be clear, the row that shows +60% increment is `math3.py` and not `math1.py` which contains the functions `printll` and `printll2`.

But from what I see in the report it looks like `math3.py` is now newly imported in your test run but didn't used to before? The lin

[2016-09-19 08:02] p00j4 commented on #76
yeah @aconrad
my bad :-(  yes its about ```math3.py```, somehow I missed the right words to explain the problem. But thanks to you for inferring it rightly 👍
yes this line clears my silly doubt about %
[code]
few more queries:
1. why is is blank in "stmts" column of ```math3.py```  when I have 3 lines addition (7, 9, 10) ?
2. I still think showing % for class & function ```declaration lines```, mi

[2016-09-28 07:08] aconrad commented on #76
For 1, I'm not sure why the "stmts" col is empty, it might be a bug. Wanna look into it? For 2, maybe we should show the total percentage increase for the file instead of the relative increase (which, yes, is harder to reason about). Want to look into that too? ;) If you do, please submit 2 separate pull requests!

[2016-10-08 15:35] p00j4 commented on #76
all right, i'm digging and will come up with PR

[2017-05-04 12:44] matrixise opened #78 "will you continue the project?"

[2017-05-04 12:44] matrixise commented on #78
in fact, the idea behind the project is awesome, we can see the progress with your tool and really useful.

[2017-05-04 13:26] aconrad commented on #78
Hi @matrixise, yes I am continuing to support this project and I use it on a daily basis myself. I'm glad you also find it useful! :)

[2017-05-04 13:26] #78 closed

[2017-11-30 14:32] brunomiguensolx opened #79 "Markdown & Ignore Files"
First of all congrats on the great work 👌🏻

I've some suggestions that may be good for you.

So the first suggestion is to include a possibility to add files and regex patterns to ignore, those files

Generate a similar output as the plain text but in a Markdown format. Good suggestion for comments on Pull Requests.

And have the possibility to hide some headers, like the "Missing" column.

[2018-05-04 16:51] blueyed opened #86 "Ignore / only warn about missing files"
It might be useful to ignore missing files, issuing a warning only.

This is relevant for when using `git archive` to create the source trees, which
does not include untracked files, which are included in the report/coverage.xml
though.

Currently it is failing like this:

[code]

[2018-05-07 17:51] aconrad commented on #86
Hmm, never heard about this use case before. What is the reasoning/workflow behind having your coverage report include files that aren't checked in? My assumption is that if the file isn't checked in, then it shouldn't be included as part of the coverage report in the first place.

[2018-05-08 06:59] blueyed commented on #86
My use case is some WIP test file that is used only locally.
Since it matches the pattern of normal test files it will be included.  I could add it to coveragepy's ignore list, of course - even after the run.
Also some local code e.g. `app/foo/__init__.py` when there is only `app/foo/bar.py` is included in coverage, since it gets imported.

It's only really an issue since `git archive` has to be u

[2018-06-15 07:51] lemongao commented on #19
Hi,

Can you explain more about the meaning of the exit code?

2: coverage worsened (implies 3)  ---Does this mean Cover Rate (Cover Column) decrease?
3: not all changes are covered ---Does this mean if there is any new line uncovered. return 3 as exit code ?

[2018-06-19 01:21] lemongao commented on #50
HI, can we set the fail-on criteria, eg uncovered changes  line percent?

[2018-06-19 05:44] aconrad commented on #50
@lemongao I don't plan on failing the build based on coverage rate (percentage) because the rate can down even when your changes are valid. I don't believe the percentage should be used as a metric to measure whether the code coverage of a code base becomes better or worse. See https://github.com/aconrad/pycobertura/blob/master/README.md#why-is-the-number-of-uncovered-lines-used-as-the-metric-to-c

[2018-06-19 05:44] aconrad commented on #50
I'm going to close this issue because this is currently handled by the exit status code of pycobertura. See https://github.com/aconrad/pycobertura/blob/master/README.md#diff-exit-codes

[2018-06-19 05:44] #50 closed

[2018-06-19 06:45] aconrad commented on #19
Coverage worsened (exit code 2) means that you effectively left the code base in a worse coverage state than you have found it. It means that the overall number of uncovered lines has increased, plain and simple.

Exit code 3 means that you have reduced the overall number of uncovered lines in your code base (yay!) but if you follow the philosophy that "all changes should be tested" then it means

[2018-10-31 03:15] juandiegopalomino opened #87 "Multiple coverage xmls"
I was wondering if it's possible for this package to work when the coverage data is split among several xmls which are for tests of the same codebase

[2018-11-07 05:56] aconrad commented on #87
Currently pycobertura only knows how to parse one XML file at a time.

I know that tools exist to combine multiple XML coverage reports together but I have never done it myself. For example https://coverage.readthedocs.io/en/coverage-4.2/cmd.html#combining-data-files

[2018-11-07 05:56] #87 closed

[2018-11-22 18:38] kannaiah opened #88 "Running out of memory"
I'm using `pycobertua` to read morethan 1400 coverage files.
My script is being killed as the memory usage is keep on increaing with file, my code looks like below

[code]
I tried  `del cov` but that didn't help.
I think it is because of  `@memoize`, my script runs fine when I comment out `@memoize`.

[2018-11-22 22:00] aconrad commented on #88
Hi @kannaiah, thanks for reporting this! I really appreciate it.

Yeah I don't know if `memoize` makes much of a performance difference. I honestly wrote it without specifically having a performance problem, it just felt like it was doing a lot of the same XML parsing work so I wrote `memoize` but I realize it might have been premature optimization.

Since you have a lot of files, would you mind r

[2018-11-23 12:59] kannaiah commented on #88
I see the `memoize` is [from](https://gist.github.com/codysoyland/267733/8f5d2e3576b6a6f221f6fb7e2e10d395ad7303f9)
The comment does say that the cache would not be freed and
https://gist.github.com/codysoyland/267733/8f5d2e3576b6a6f221f6fb7e2e10d395ad7303f9#gistcomment-17644

And there is a link to better `memoize` http://code.activestate.com/recipes/577452-a-memoize-decorator-for-instance-methods

[2018-11-23 18:01] aconrad commented on #88
Awesome, thanks for looking into it! Can you submit a pull request if you have a chance?

[2019-07-08 21:43] aconrad commented on #88
Fixed by https://github.com/aconrad/pycobertura/pull/89

[2019-07-08 21:43] #88 closed

[2019-11-22 12:29] ppaalanen opened #91 "Support for (generated) source files in different directories?"
I had a quick test with pycobertura on [Weston](https://gitlab.freedesktop.org/wayland/weston) and hit a crash trying the `diff`:
`pycobertura.filesystem.FileNotFound: /home/pq/git/weston/protocol/fullscreen-shell-unstable-v1-client-protocol.h`

That is expected: the file will never be found at that path. Instead, it is generated during build into the build directory, completely separate from the

[2019-11-22 16:59] aconrad commented on #91
Thank you @ppaalanen for reporting this!

Hm, that's interesting, I have never encountered this use-case before. What could we do about it? Any ideas?

A few things that cross my mind:
* without modifying pycobertura, you could ensure that the files are present where pycobertura is expected to find them. You might need a little script before running the coverage diff that could copy over the files

[2019-11-25 08:34] ppaalanen commented on #91
I think this would be unacceptable for the project. Sphinx is already causing us trouble, because we need to copy some documentation source files as is into the build directory, since we also generate some documentation source files and Sphinx et al. refuse to use more than one search path. The copying has a high risk of leaving stale source files around in build dirs when switching git revisions

[2019-11-25 08:54] aconrad commented on #91
I think we should start by skipping files that aren't found, that seems the simplest first step.

I'm on vacation this week of Thanksgiving but if you want to take a stab at trying to get pycobetura to skip missing files and I can take a look when I get back in December.

I think skipping files should be the default when generating reports from the command line to be more user friendly. The missin

[2019-11-25 09:09] ppaalanen commented on #91
Thanks, but I'll leave it for you, I'm not in a hurry with this, this year.

Yes, that will be valuable, and is the reason why I'm looking into pycobertura - I have not found another tool for the same yet.

[2020-02-04 11:10] omarala commented on #91
Hi, sorry to enter this conversation out of the blue. But I have the same test case where source files are generated at compilation time. I tried the idea of copying the right files with a small script, it isn't ideal but it's okay. But I faced another error which is : "UnicodeDecodeError: 'utf8' codec can't decode byte 0xe9 in position 1039: invalid continuation byte".
The idea of skipping file w

[2020-04-24 21:01] Eldadc opened #96 "Can it help support union operation ,removing duplicate entrie"
Hi,

My goal is to merge two different coverage coberuta xml report , one was created with OpenCPPCoverage and the other with gcovr ( Code coverage by GNU GCC).
The issue is that on one report some files are been covered and on the other report they are not covered , but for developers it is ok that at least on one Testing program cover a file.

We have two different cobertura xml files ,
One of t

[2020-04-26 01:59] aconrad commented on #96
Hi @Eldadc,

Pycobertura doesn't support combining coverage reports and is meant to be a read-only cobertura report parser (not a report generator).

I'm not familiar with combining reports since I've never had to do it thus far but I know that `coverage.py` has a command to do that along those lines: https://coverage.readthedocs.io/en/latest/cmd.html#combining-data-files Although it's unclear to

[2020-04-26 02:00] aconrad commented on #96
Closing this for now.

[2020-04-26 02:00] #96 closed

[2020-04-26 03:52] Eldadc commented on #96
Thanks on the detailed response.
Your last questions are the main requirement for the merge operation.

[2020-07-17 13:28] rohith0205 opened #101 "Require More than one source file path provision for one coverage report"
Require More than one source file path provision for one coverage.xml file.

Ex:

pycobertura diff coverage.old.xml coverage.new.xml --source1 old_source/,old_source2/,old_source3/ --source2 new_source/,new_source2/,new_source3/

[2020-07-17 15:06] aconrad commented on #101
Thanks for your request @rohith0205 !

Can you update the issue description and provide more context about your use case? I've never used more than one source directory per coverage file. What would be a situation when this would occur? More background on how you get there would help me understand the workflow.

[2020-07-25 08:53] williamfzc opened #102 "Can I use it with preload xml content?"
Hi there, good project!

In my cases, I used some snippets to convert lcov xml to Cobertura XML. And it will generate xml-format string.

[code]

So can we directly use xml-format string (rather than write it to file and read from it in pycobertura)?
Or if you prefer a PR? :)

[2020-07-25 14:43] aconrad commented on #102
I'm sure we can change that in some way to to prevent you from doing this intermediary step. It wasn't designed to support this use case but I'm sure we could accommodate without too much fuss. Have you looked at the code to see if there are opportunities for improvement?

[2020-07-26 07:14] williamfzc commented on #102
yep, I think it may be not that hard. (it looks like)

https://github.com/aconrad/pycobertura/blob/cdce1ae0eacd6d8b2954d289a2379330967abf97/pycobertura/cobertura.py#L40

xml content will be parsed at the beginning of `__init__`. We can add a pre-check here to identify if it is a valid xml-string. If it is not, treat it as a path.

[2020-08-05 22:57] aconrad commented on #102
Thanks for this @williamfzc! Can you please submit a PR so we follow the standard code reviewing process?

[2020-08-06 14:35] williamfzc commented on #102
Sure :) see #103

[2020-08-13 14:34] aconrad commented on #102
Addressed in #103, closing.

[2020-08-13 14:34] #102 closed

[2020-11-24 10:21] chezihp opened #107 "Bug using ZipFileSystem and DirectoryFileSystem together"
Hey,
Thanks for this project. Really helpful!
Im using both ZipFileSystem and DirectoryFileSystem together (one for Cobertura1 and the other for Cobertura2). Found out that the line mapping between the two FileSystems is not working properly because ZipFileSystem adds 'b' prefix to each source line (this is [expected](https://docs.python.org/3/library/zipfile.html#zipfile.ZipFile.open)) while Dire

[2020-12-01 17:49] aconrad commented on #107
Thanks for your report @chezihp, and nice find! Do you get a traceback, on just incorrect output from pycobertura?

Is there any chance for you to put a PR together with a test that displays the failure?

[2020-12-02 11:38] dothebart opened #108 "Per directory stats?"
I see that `show` can print out per file summary. I'd need this per directory - is there already a way to do this?

[2020-12-02 15:37] aconrad commented on #108
Hi @dothebart, pycobertura treats all file paths as strings, so it's currently agnostic of what a file vs. a directory is.

Are you using pycobertura from the command line or as a library?

[2020-12-02 16:14] dothebart commented on #108
I've did first experiments with the CLI.
I'm thinking about copying the `class TextReporter(Reporter):` , keep the stats on the object, and print them out once the path component of `filename` changes?

[2020-12-03 01:23] aconrad commented on #108
Wondering if `Cobertura.files()` could take a keyword argument to allow it to list only a subset of files from the report that would match a given pattern. 🤔

[code]

Dunno, food for thought. 😃

[2020-12-11 13:05] chezihp commented on #107
Hey.
Just incorrect output. I'll put a PR as soon I'll find the time to do it.

[2021-03-12 17:30] smortvedt opened #112 "Multiple classes in the same file are ignored"
It looks like if a cobertura report has multiple classes in the same file, only the first class will populate the stats for that file and the others will be ignored.
[coverageExample.zip](https://github.com/aconrad/pycobertura/files/6131849/coverageExample.zip)

[2021-03-13 18:25] aconrad commented on #112
Thanks @smortvedt for reporting this and even submitting a pull request, this is much appreciated. 🙏

I'm out of town for a bit so I won't have much time to look at it in the coming days, but hopefully I can take a closer look next week. 👍

[2021-06-03 21:39] ericyhwang opened #114 "pycobertura install fails in fresh Debian buildpack-deps:stretch image"
`buildpack-deps` is used as a base for many other images, like NodeJS's official images, and a pycobertura install fails in a fresh Debian Stretch (current LTS) image.

To run a temporary container with the image:

[code]

Inside the container:

[code]

The same install does succeed on `buildpack-deps:stable`, which is running Debian Buster.

Oddly, the same install command did succeed in the Debi

[2021-06-03 22:33] ericyhwang commented on #114
Alright, it looks like manually updating setuptools via `pip install -U setuptools` beforehand fixes the issue, so I'm going to close this since there is a workaround.

Still, it's odd that the install worked out-of-the-box last year, and is broken this year 🤔

----

Here's the out-of-the-box setuptools versions for reference:

Debian Stretch `buildpack-deps:stretch` - broken:
[code]

Debian Buste

[2021-06-03 22:33] #114 closed

[2021-06-05 17:34] aconrad commented on #114
Hey @ericyhwang, thanks for bringing this up! I just ran a few tests myself (thanks for providing the docker commands, that was helpful) and came to the same conclusion as you did.

Indeed, I also found that the fix was to upgrade to a later version of `setuptools` is that _not_ provided by stretch.

I'm not sure what changed either since last year, but I did notice that the stretch image was upda

[2021-09-20 18:01] loganharbour opened #115 "Add option to remove missing column from HtmlReporterDelta"
I propose adding an option to HtmlReporterDelta to remove the "Missing" column. We've implemented pycobetura for our coverage reports in [idaholab/moose](https://github.com/idaholab/moose) (see https://github.com/idaholab/moose/pull/18395#issuecomment-917463944 for an example). This column can get pretty huge on some of our large PRs, so we remove it manually.

I can put up a PR for this if you fi

[2021-09-21 00:42] aconrad commented on #115
Hey @loganharbour,

That sounds reasonable to me, thank you! 👍

Thanks for your kind words, it's always appreciated and it makes me happy to know that people find my tool useful. ❤️

And yes, I'm always open to new ideas/contributions. Keep them coming! :)

[2021-09-23 17:45] #115 closed

[2021-09-23 17:50] loganharbour opened #117 "Make diff information available about "new" lines"
From a code review prospective, we've found it valuable to have information about the lines of code that are edited (I refer to this here as "new"). I produce a table like this on PRs:

<table>
  <thead>
    <tr>
      <th></th>
      <th>b79d3c</th>
      <th colspan=4>#18890 d0b30f</th>
    </tr>
    <tr>
      <th></th>
      <th>Total</th>
      <th>Total</th>
      <th>+/-</th>
      <th>New<

[2021-09-27 21:57] aconrad commented on #117
New lines seem like a useful metric to display. I can see how people can get a sense of how large the change is by looking at "New". What about you and your team, what was useful about it specifically?

I've never really used Discussions, I'm fine either way :)

[2021-09-30 15:33] loganharbour commented on #117
Here's an example case:

<table>
  <thead>
    <tr>
      <th></th>
      <th>16ff5b</th>
      <th colspan=4>#18959 b38804</th>
    </tr>
    <tr>
      <th></th>
      <th>Total</th>
      <th>Total</th>
      <th>+/-</th>
      <th>New</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Rate</b></td>
      <td>86.05%</td>
      <td>86.03%</td>
      <td>-0.01%</td>
      <td>100.00%</td>

[2021-09-30 21:19] aconrad commented on #117
Works for me! If you want to add this to the output of pycobertura, go for it! 👍 I think it could be a useful metric to have by default.

[2021-10-12 03:08] CurryPseudo opened #118 "Support parsing(ignoring) method info"
Currently, pycobertura only accepet

[code]

But there are some cobertura outputs contain method infos like

[code]

The input like above will make pycobertura simply reporting error:

``Invalid coverage file: ...``

Could we just ignore the methods info?

[2021-11-24 12:02] marwin1991 opened #119 "Support for merge cobertura.xml files."
Hello,

the functionality that will allow to merge many cobertura files would be great.
This problem is common:

https://stackoverflow.com/questions/64370596/can-i-combine-mypy-reports-with-pytest-coverage-reports
https://stackoverflow.com/questions/26469072/is-there-anyway-to-merge-cobertura-coverage-xml-reports-together

And there is even a npm module that solves it, but it will need to install

[2021-12-08 15:00] gro1m opened #120 "Support for reading entries by row/column of 'pycobertura show' outputted table"
Command:
[code]
Example output:
[code]
Would be interesting if there were any easy way to parse this table, e.g. to get the TOTAL/Cover value of 83.33%.

[2021-12-09 17:51] aconrad commented on #120
Hi @gro1m,

No easy way to parse the text output, it wasn't designed to be consumed directly (best is using the Python library to get the coverage into).

Otherwise, did you try to use shell commands to extract what you care from the output? E.g.

[code]

[2021-12-09 18:06] aconrad commented on #120
Another way would be to use Python, as suggested in my previous comment:

[code]

Here you would get the line rate, not the formatted percentage.

[2021-12-09 18:08] aconrad commented on #120
Closing this thread for now, feel free to reopen if you need to discuss further.

[2021-12-12 18:22] gro1m commented on #120
Hi @aconrad
I am not sure it is so hard to implement as you could operate on the formatted_lines list on https://github.com/aconrad/pycobertura/blob/31ded1efc70f514df804664b74ccc8cd91143815/pycobertura/reporters.py#L79, https://github.com/aconrad/pycobertura/blob/31ded1efc70f514df804664b74ccc8cd91143815/pycobertura/reporters.py#L107, https://github.com/aconrad/pycobertura/blob/31ded1efc70f514df804

[2021-12-12 18:41] gro1m commented on #120
For the sake of reading headers it would be nicer though to use the dictionary example from [tabulate](https://pypi.org/project/tabulate/) to have the headers as keys:
[code]

[2021-12-12 21:23] aconrad commented on #120
I think I misunderstood your original request. What do you want to achieve? What is your question?

Reopening.

[2021-12-12 21:34] gro1m commented on #120
Hi @aconrad
I do not necessarily want to parse the text output of the `pycobertura show` command, but have a way to retrieve the individual values displayed in that matrix. And what I tried to explain above is that this information is pretty much already present in the `generate` function's `formatted_lines` list variable.

[2021-12-13 13:20] gro1m commented on #120
Maybe this helps as well to clarify.
Doing an editable install of this repo via ` pip install -e git+https://github.com/aconrad/pycobertura#egg=pycobertura` and adding a print statement for the formatted lines and using https://github.com/aconrad/pycobertura/blob/master/tests/cobertura.xml in
[code]
yields:
[code]
so the information is pretty much there and maybe a slight more convenient data stru

[2021-12-13 20:12] aconrad commented on #120
I'm still unclear about the ask. In one of your comments you say:

What "way" are you thinking about? Is it from the command line (CLI) or programmatically (in Python)? And it sounds you want to cherry-pick what you get back in the output, is that correct? If it's from the CLI then would you need additional switches? Would something like this work?:

[code]

... or if it where for the TOTAL row:

[2021-12-13 21:43] gro1m commented on #120
Hi @aconrad

Yes, the commands you show are pretty much exactly those that I am looking for.

If it were sensible to keep the `show` in there as you do not output the whole file content might be debatable - probably easier to keep like that (could though lead to breaking changes in future if the naming convention were to be changed) and *a detail* with regards to functionality.

With respect to th

[2021-12-16 17:52] aconrad commented on #120
Thanks @gro1m.

I don't understand what you mean by that sentence, can you please clarify?

Either way, now that I understand a little better what your request is, I'm now thinking about whether this is a feature I'd like to include in pycobertura. It's essentially a subset of what the `show` command already provides and this information is also accessible via the Python API so someone like you co

[2021-12-23 16:11] 1ace opened #121 "@aconrad it looks like you forgot to `git push` when you tagged the latest release :)"
The github page for 07bf866dbdafb0ea3f39d866a6b1ab94f13ae224 says:

@aconrad it looks like you forgot to `git push` the commit when you tagged the latest release :slightly_smiling_face:

[2021-12-23 16:23] aconrad commented on #121
Oh whoops! 😬

Unfortunately I don't have access to a computer in the next few days. I'll double check when I do.

I'm curious to know what happened because I usually use a script to make new releases, which I expect to do a `git push` in the process... 🤔

Thanks for letting me know!

[2021-12-27 22:48] aconrad commented on #121
@1ace I think I pushed what might've been missing. Can you double-check on your side?

[2021-12-28 00:34] aconrad commented on #121
Closing this for now.

[2021-12-28 00:34] #121 closed

[2021-12-28 07:00] 1ace commented on #121
Yes, I can confirm, the `master` branch now contains the 2.1.0 commit :+1:

Thanks!

[2022-01-03 18:47] gro1m commented on #120
Hi @aconrad

I certainly think it would make sense to implement a json output, so I could try to come up with a PR for that if you think that'd be sensible.

Nonetheless, I think it would still be nice to have either a `pycobertura show coverage.xml --query '.total.percentage'` or a `pycobertura parse coverage.xml --value 'total.percentage'`:
1. With growing security concerns the number of install

[2022-01-03 19:10] aconrad commented on #120
Thanks for your message @gro1m.

As of now, let's implement the JSON reporters so users can start extracting the values they care about using their own JSON parser. I think this would be a good first step.

The CLI command should be:

[code]

(note that we already support `--format html` so that could be a good starting point)

As for having `pycobertura show` query for specific values, this is no

[2022-01-03 19:11] aconrad commented on #120
Oops, closed by accident.

[2022-01-03 21:13] gro1m commented on #120
Ok, I can try that, but before I start I will need to ask you about the Python versions `pycobertura` shall support.
You are testing Python 3.5,3.6,3.7 and the specification is a bit different here: https://github.com/gro1m/pycobertura/blob/master/setup.py#L42-L46.

At the same point regarding end of life of Python versions, looking at the https://devguide.python.org/#status-of-python-branches, Py

[2022-01-04 00:11] aconrad commented on #120
We don't support 2.x. I guess the `setup.py` hasn't been updated after this decision.

Right now on Travis CI we build for 3.5, 3.6, and 3.7. I think we should support newer versions of Python, too. And I'm happy to only support 3.7 and up.

Are you saying that pycobertura under 3.8 doesn't work? Oops, we should certainly submit a separate PR to fix support for that (and future versions).

[2022-01-04 09:12] gro1m commented on #120
Hi @aconrad
Thanks for your reply.

No, it is only the tests are restricted to Python versions 3.5, 3.6, 3.7, i.e. the tox command returns:
[code]

But then I will go ahead and will first submit a refactoring PR that supports Python 3.7 upwards which you can then review. And I also realized just now that there is a `CHANGES.md` that states that Python 2 support was dropped, so that's great :)

[2022-01-04 19:48] aconrad commented on #120
`InterpreterNotFound` means that it didn't find the right python version on your computer.

We can see green builds on Travis:

https://app.travis-ci.com/github/aconrad/pycobertura

[2022-01-19 14:44] GiddeonWyeth opened #125 "Diff result is always empty"
Hello!
I have two cobertura files and I try to get diff between them. Source code for both of them is the same because they are produced by two different services which live in the same monorepository. So my command looks like this:
`pycobertura diff --source1 . --source2 . cobertura-coverage.xml cobertura-coverage2.xml`
The problem is that it returns an empty diff which looks like this:
[code]

I

[2022-01-20 07:03] aconrad commented on #125
Do you get anything by doing:

[code]

... ? If not, are the two files identical?

[2022-01-20 07:05] GiddeonWyeth commented on #125
As far as I remember in that way I don’t get anything either
No, they are not identical

[2022-01-20 08:08] aconrad commented on #125
Hm. Any chance those coverage reports can be shared so we can take a look at them? (without the source)

[2022-01-20 12:24] GiddeonWyeth commented on #125
@aconrad It seems I found the reason. I was really using the wrong file in comparison. But after I resolved this issue new ones appeared.
Can you please tell me if there is a way to understand why diff ends up with exit code "2"? What is the exact reason?

[2022-01-20 22:47] aconrad commented on #125
Hi @GiddeonWyeth, the `pycobertura diff` exit codes are documented here: https://github.com/aconrad/pycobertura/#diff-exit-codes

Let me know if that answers your question.

[2022-01-21 10:40] GiddeonWyeth commented on #125
Hello @aconrad. More or less yes, thanks!
I can't understand why when two coverage files are being compared `pycobertura` does this in a strange way.
For ex. : if in the first coverage we don't have a file named `foo.py` and in the second one we do than in resulting diff we will see that file and all covered lines there will be marked as ones with increased coverage and the ones which were not wil

[2022-01-21 15:02] GiddeonWyeth commented on #125
@aconrad That's exactly what I do. The thing is that I try to compare result of manual coverage and auto-test coverage. Some manual tests execute code from files which are not touched by auto-tests at all. In such case as a result I have 2 coverage files with the same code base but different contents

[2022-01-21 15:03] aconrad commented on #125
Let me know if that works for you.

Arguably, regarding my previous comment, pycobertura could know that foo.py isn't present if it's not listed in the first coverage file. I'd have to check again what it does exactly under the hood... That's said, a reproducible use case for me to test would be ideal to help debug.

But, matching the code base that generated the coverage file is still the more ac

[2022-01-21 15:12] GiddeonWyeth commented on #125
@aconrad Please take a look. I use `pycobertura diff --format html --output coverage-diff.html --source1 . --source2 . cobertura-coverage2.xml cobertura-coverage.xml` to form diff. In resulting file you will see changes for `validation-utils.js` which are incorrect since second file doesn't have info about coverage of this file. Such behavior can lead to incorrect conclusion for ones who analyze t

[2022-01-22 07:00] aconrad commented on #125
Let me apologize in advance if I didn't understand you, but given the command you provided, the output is what I would expect.

You pass `cobertura-coverage2.xml` as first argument and `cobertura-coverage.xml` as second argument. Pycobertura interprets the first one as being the old file and the second one as being the new one. Here, `cobertura-coverage.xml` is considered the new one, it will assu

[2022-01-24 10:47] GiddeonWyeth commented on #125
@aconrad The thing is that it is not actually possible to understand that the file appeared in the new coverage
When I take a look at the diff I see that in `validation-utils.js` some lines increased its coverage and some decreased while in fact non of them had had any coverage at all. From my perspective the valid behavior would be to highlight the lines which started being covered and mark uncov

[2022-01-26 12:35] GiddeonWyeth commented on #125
@aconrad friendly reminder about this discussion :)

[2022-01-26 19:06] aconrad commented on #125
Let me add this screenshot from your code in `pycobertura.zip` that was generated with the following command to make sure we are looking at the same thing:

[code]

<img width="598" alt="Screen Shot 2022-01-26 at 9 56 59 AM" src="https://user-images.githubusercontent.com/247661/151219636-75b7c833-5b3b-41e2-b829-592e176072bd.png">

You are saying that in `validation-utils.js` there are lines that h

[2022-02-08 18:53] gro1m opened #133 "Different coverage.xml generated for Python 3.7 through 3.9"
[code]

leads to the following `xml`:
[code]

[code]

and

[code]

both lead to:
[code]

[2022-02-08 19:12] gro1m opened #134 "Get an understanding of what is needed for the 3.0.0 release"
Hi @aconrad
I think would be interesting what needs to be in for the 3.0.0 release.
It would also be interesting to see if some of the Issues could be closed and what the current PRs are doing to have a well-defined state of the repo when releasing the next major version.

[2022-02-09 00:41] aconrad commented on #133
Thanks for this. A quick look at it, it seems that the line numbers generated in py38 and above are way off, not sure why.

For example, if we look at `pycobertura/cli.py` (the second line in the report), the py37 version goes up to line number `<line hits="1" number="251"/>` but for the py38 version it goes to `<line number="4297" hits="0"/>` – in addition, any line beyond line 251 are misses (`h

[2022-02-09 03:20] aconrad commented on #134
All your PRs were merged so happy to work on a release. The issue about the XML being different between py37 and py38 would be nice to figure out since this release focuses on dropping py2. But maybe we can address that later.

[2022-02-09 03:24] aconrad commented on #133
I just remembered that there was a bug years ago with coverage reports using coverage.py 4.x. But they have a version 6.x out, maybe it addresses our original issue. We have coverage.py pinned to a specific version in the test-requirements.txt file.

[2022-02-09 23:34] aconrad commented on #134
CLI tests indirectly over them already, so definitely a nice-to-have but not a blocker for 3.0.

Yes, the fact that py37 and py38 are different bothers me, and I'd love for us to get that figured out before a 3.0 release.

I closed PR #75 which was no longer relevant. Then there's #109. The feature request is about grouping outputs on a per-directory and introduces a YAML output that you just intr

[2022-02-09 23:42] aconrad commented on #79
Note: we currently support Markdown output in the latest master (which will be released with 3.0).

The other features I see here are:
* regex matching to control the files shown in the report output
* show/hide columns

[2022-02-10 16:19] aconrad commented on #119
That sounds like a whole new utility to me. Such as `pycobertura merge ...`

[2022-02-10 16:27] aconrad commented on #119
I guess the logic is:

* if coverage1.xml has line `<line filename="foo" hits="0">` and coverage2.xml has `<line filename="foo" hits="1">` then the resulting merge would have `<line filename="foo" hits="1">`.
* coverage rates should get recomputed based on the new total number of lines in the merged report.
* I think we'd probably want to have the ability to merge 2 Cobertura files that aren't par

[2022-02-10 16:34] aconrad commented on #112
Your changes have been picked up by @gro1m and were merged to master (I made sure you get the credit on the commit). Going to close this issue now, let me know how things work for you.

[2022-02-10 16:34] #112 closed

[2022-02-10 16:35] aconrad commented on #107
Can you provide a reproducible test case?

[2022-02-10 16:43] aconrad commented on #101
Do the coverage files contain paths like:

[code]

Or are those meant to be additional lookup directories should the filename not be found in the first directory? If that's the case, how can we ensure that we parse the right file if it's present in 2 of the look-up paths?

[2022-02-10 16:54] marwin1991 commented on #119
Great idea! IMO the most common example is when you have f.e. JS in frontend and Java/Python/Ruby in backend. When it comes to visualise the result in GitLab you  need one file

[2022-02-10 16:57] aconrad commented on #57
I forget what I was thinking there. Diff should work with 2 different coverage files generated by code bases at 2 different versions... 🤔

Closing as there isn't enough information as to why.

[2022-02-10 16:57] #57 closed

[2022-02-10 16:59] aconrad commented on #57
Maybe I was thinking about this use case? https://github.com/aconrad/pycobertura#i-only-have-one-cobertura-report-can-i-just-see-my-uncovered-changes

I'm still trying to wrap my head around the caveats of doing that... 😂 I'm getting old.

[2022-02-10 19:30] #120 closed

[2022-02-11 17:46] aconrad commented on #133
Here is a coverage file generated by Python 3.8 with pytest v3 and coverage v6.

[code]

[2022-02-11 17:55] aconrad commented on #133
What I am noticing is that in coverage < 4 the `class` element has a "filename" attribute as such:

[code]

In coverage v6, we now have the directory that is missing from the filename:

[code]

And causes Pycobertura to fail with a `FileNotFound`:

[code]

The file should be `aconrad-pycobertura-193cfa7/pycobertura/__init__.py` (don't worry about the prefix directory, that's when we use pycobertur

[2022-02-11 18:12] aconrad commented on #133
Relevant links:
* https://github.com/nedbat/coveragepy/pull/1148 (doc how to add the missing directory, although each project that pass reports to pycobertura will need this, which is not ideal)
* The bug with incomplete filename paths introduced in coverage 4.4 was reported here: https://github.com/nedbat/coveragepy/issues/578

[2022-02-13 08:25] CurryPseudo commented on #118
OK~ Here is a sample coverage file from a rust library
https://github.com/CurryPseudo/rust-coverage/blob/main/cobertura.xml

[2022-03-12 18:14] gro1m commented on #119
@marwin1991 Could provide exemplary test input files and a test output file? I think this would be most helpful...

[2022-03-13 12:44] gro1m commented on #79
@brunomiguensolx @aconrad
Started implementation of hide columns here: https://github.com/aconrad/pycobertura/pull/137

[2022-03-13 18:34] gro1m commented on #79
@brunomiguensolx @aconrad
Regex matching is worked on here: https://github.com/aconrad/pycobertura/pull/138

[2022-03-13 18:41] gro1m commented on #117
@loganharbour Do you have any update here?

[2022-03-13 23:36] loganharbour commented on #117
I've had this working without issue externally. I haven't found the time to port it over quite yet. Still need to write it such that it reduces some duplicate effort when ran with the other default statistics.

If there's increased interest, I don't mind making it a higher priority!

[2022-03-14 20:08] marwin1991 commented on #119
Hello, here I have a simple cobertura.xml for spring boot java project:
[cobertura.xml.txt](https://github.com/aconrad/pycobertura/files/8248227/cobertura.xml.txt)

I will try to get some example of JS like React or Angular :)

[2022-03-15 18:48] gro1m commented on #119
Hi @aconrad @marwin1991
Regarding the implementation of the `merge` command, there are the following steps in my view:
1. Parsing the input xml files (could be an arbitrary number) and extract the statistics.
2. Merge the statistics using a merge function
3. Write the statistics in an output xml file (whose name is also given on the command line, would be the last parameter).
Am I correct?
And @ac

[2022-03-16 18:58] gro1m commented on #86
Hi @aconrad @blueyed
As I am working on a regex to include files you want, it could maybe be a possibility to add an option to pass a file (for example .gitignore) in which you could specify the files or file patterns you want to exclude from the report.
What do you think?

[2022-03-16 19:09] gro1m commented on #117
Hi @loganharbour
I think the question came up more with regards to the upcoming major release 3.0.0.
Furthermore, as there have been quite some changes, it could be interesting to see your code sooner rather than later, so that you do not waste effort. In addition, my personal belief is that it is a good idea to submit a PR and get it merged within a year (which is still realistic in your case).

[2022-03-16 19:12] gro1m commented on #117
From an output perspective I wonder if it should go more in the direction of the `git diff` command, which would necessitate to have two tables or we could have this side by side. Both these options would allow to represent all statistics and you might also see if a file is present in only one of the commits.

[2022-03-22 15:31] aconrad commented on #119
For 1. I think we have most of it implemented, pycobertura is first a cobertura parser.

I believe that coveragepy has a functionality to merge/combine coverage reports. Is this relevant to us? https://coverage.readthedocs.io/en/stable/cmd.html#cmd-combine

Could users use that before using pycobertura? If yes, then maybe we don't need to implement this feature, although I'm not against it either.

[2022-03-22 18:19] aconrad commented on #118
Thanks for sharing a coverage file. As far as I can tell, the lines under the xpath `//coverage/packages/classes/class/methods` are redundant with the ones under `//coverage/packages/classes/class/lines` so I don't think we're missing any per-line coverage data by only parsing the latter.

I ran `pycobertura show` against the `cobertura.xml` file you pointed me to, and it works fine:

[code]

Can

[2022-04-05 08:51] chixiangzhou opened #142 "Trying to understand the pycobertura diff report"
Hi, @aconrad

I’ve recently started to use pycobertura for my on-going project at work. This is definitely a great tool and I’m already a big fan of this tool.  I just have a few questions regarding the pycobertura diff command and its output diff report.

I’m not sure if I fully understand all the columns in the diff report (html format).
Take the dummy files mentioned in README for example. The

[2022-04-06 18:03] chixiangzhou commented on #142
Can anyone take a look at this issue?

[2022-04-06 19:18] aconrad commented on #142
@chixiangzhou, thanks for your question.

Yes.

"Miss" is the number of missed (uncovered) lines introduced. We don't actually take covered lines into account, however much were covered. So as long as Miss is negative, there's still testing work that can be done on the PR. Does that make sense?

"Cover" takes the overall coverage before and after the change and shows the difference. It doesn't rea

[2022-04-06 19:27] aconrad commented on #142
Also...

Thanks for your kind words, I'm glad pycobertura is useful to other people out there! 🥰

[2022-04-06 22:22] chixiangzhou commented on #142
Hi @aconrad,

Thank you so much for your detailed reply. I really appreciated it!
I absolutely have a much better understanding now. :)

Still have a couple doubts that need your clarification.

Still a bit confused about the definition of Column "Miss".
If "Miss" only cares about the uncovered lines introduced, then take the dummy/dummy file for example.
![image](https://user-images.githubusercon

[2022-04-07 00:12] chixiangzhou opened #143 "Pycobertura diff command only supports text and html output format?"
Problem:
I was trying to generate a yaml output using pycobertura diff command. But it threw an error and implies that only text and html are supported. See the screenshot below:
![image](https://user-images.githubusercontent.com/24377651/162094459-41dff4be-2d4b-415d-a188-021635f92b1c.png)

The README shows yaml, json, and other format are also supported.

The version of pycobertura I'm currently

[2022-04-07 01:44] aconrad commented on #143
We haven't released that feature yet. It will be part of v3. You'd have to use the master branch instead of the python package in the meantime.

[2022-04-07 02:47] chixiangzhou commented on #143
I see. Do you know when will that feature be released?

[2022-04-07 04:28] aconrad commented on #142
In `dummy/dummy`, we have 1 new statement introduced (line 6 with the `+` sign) which was covered (1 _less_ miss), and then line 5 was previously uncovered but is now covered (1 _less_ miss, totaling to -2 misses).

Imagine a different scenario for dummy/dummy: if we didn't have a test to call `bar()` then we'd have "+1" in the Miss column because the new statement on line 6 would have not been co

[2022-04-07 05:02] aconrad commented on #143
@gro1m has been helping a lot lately, we're trying to go through some of the issues and see if we can fix some low-hanging fruit and add new features. But on my side, time is my main constraint, life keeps me pretty busy and yet I try to respond to incoming requests in a somewhat timely manner. 😅

I should do a better job at identifying which of those are meant to be in 3.0. Maybe we should use a

[2022-04-07 21:14] chixiangzhou commented on #142
Thanks for your explanation, @aconrad ! Now it makes sense to me. 😄

Okay, on top of this understanding, I found the number for **Column Miss** in dummy/dummy2 doesn't seem right to me.
Please refer to the screenshot below:
![image](https://user-images.githubusercontent.com/24377651/162293894-f4788fa7-3a15-4b57-80c1-687898cf779a.png)

![image](https://user-images.githubusercontent.com/24377651/162

[2022-04-07 21:20] chixiangzhou commented on #143
Sure. I'll capture this work in a separate ticket. Like i mentioned in #142 , I'll try my best to help with this enhancement, but it might take a bit of time for me. Just wanted to set the right expectation here. 😅

[2022-04-07 23:45] aconrad commented on #142
I understand the confusion here, and that might be more of a UI issue than a data issue (see explanation below). Technically speaking, we don't manipulate the "Miss" number, besides subtracting the total number of missed statements between the new and old coverage reports.

To better explain, I think it's best if we look at how the code was executed for dummy/dummy2:

[code]

[code]

Coverage resu

[2022-04-07 23:56] aconrad commented on #142
Maybe "Missing" should only display the individual missing lines (no green lines, just red ones). My intention was to show a change of coverage/code status across lines but it might be more confusing than useful.

[2022-04-08 08:21] chixiangzhou opened #144 "[Feature Request] Do a delta on previously non-exist files"
Adding a new file is a common use case in software development. Developers might be interested in how many lines are covered in the new file, and what is the delta.

Currently, pycobertura diff report considers that previously non-exist files cannot do a delta, and marks the Column **Cover** as "-".  IMO, it would make more sense to consider that previously non-exist files are "100%" covered, and

[2022-04-08 08:29] chixiangzhou opened #145 "[Feature Request] Adding before/after columns in the summary table"
The current pycobertura diff report only shows the diff part (e.g, diff miss, diff coverage), which might cause some confusion without knowing the before/after coverage info.

It would be nice if we can also show the coverage info in the summary table before and after the changes were introduced.

[2022-04-08 08:31] chixiangzhou commented on #143
I filed two tickets #144 and #145 to capture the work.

[2022-04-08 08:33] #143 closed

[2022-04-08 08:33] chixiangzhou commented on #143
Closing this ticket #143, as I think you answered my question.

[2022-04-08 08:39] chixiangzhou commented on #142
Done. Created two tickets #144 and #145

Agreed. Developers usually care more about the red ones (lines that become uncovered), and work on the tests to address them.

[2022-04-11 12:49] notpushkin opened #146 "Export JSON as a list of objects"
First of all thanks for your wonderful project! 🎉

Current JSON layout (column-oriented) isn't really easy to consume. I propose we flip it like this:

[code]

As a sidenote, I'd also like to shout out an excellent library called [tablib](https://tablib.readthedocs.io/), which [supports a ton of formats](https://tablib.readthedocs.io/en/stable/formats.html) out of the box and would probably be eas

[2022-04-11 12:49] notpushkin commented on #146
P. S. same applies to Yaml, of course.

[2022-04-11 16:21] gro1m commented on #146
@notpushkin @aconrad
I think the format is totally feasible, with regards to the library I do not have yet an opinion on it, as I do not know it. Generally, from a maintenance perspective I think in-built solutions and as less external packages as possible is optimal, so maybe in future a decision between `tabulate` and `tablib` would have to be taken.

Regarding implementation: I am currently sti

[2022-04-14 06:13] chixiangzhou opened #147 "Columns "Stmts", "Miss", and "Cover" are all "-" in the pycobertura diff report"
Hi @aconrad

I recently found a weird issue in the pycobertura diff report.
Columns "Stmts", "Miss", and "Cover" are all marked as "-" in the pycobertura diff report.

Please refer to the following screenshot (I crossed out the file names for data privacy purposes):
![image](https://user-images.githubusercontent.com/24377651/163322756-a0b24b42-4c3c-4008-81d4-8a0eaef0a3a4.png)

How do you interpret

[2022-04-14 07:36] aconrad commented on #147
Hm, very strange. I've never seen this before. Was it working and then it stopped working or was the output always like shown in the screenshot? I can either think of an unexpected coverage file format. What language/tool do you use to generate the coverage report in XML? You could take a look at one of the sample XML files in the tests directory of pycobertura and check if your file structure is

[2022-04-15 07:03] chixiangzhou commented on #147
Hi @aconrad

Thanks for your reply!

The output was always like shown in the screenshot.

I used the tool **GCOVR** to generate the coverage report in XML.
More details can be found here:
https://gcovr.com/en/stable/index.html

Yes, I checked the sample XML file in the tests dir, and looks like the file structure is similar to mine.

Yes, I attached a zipped file that contains the coverage files b

[2022-04-15 17:44] aconrad commented on #147
Thanks!

Oh wow! It takes so long to process those files! 20 minutes and counting with the command `pycobertura diff <file1> <file2>` on my recent Macbook Pro. I wonder where it spends most of its time...

[2022-04-15 17:53] chixiangzhou commented on #147
Yes, same here. Like I mentioned earlier, the 2 coverage files are really big.  😄

[2022-04-16 02:14] aconrad commented on #147
Since I don't have access to the source code, I ran the following command:

[code]
and got back:

[code]

... which looks normal to me.

This was done against `master`. What version of `pycobertura` are you using? And how did you invoke pycobertura on the command line? The "-" just mean that there's nothing to report.

PS: Out of curiosity, I ran the command with `time` and got:

[code]

I'm putti

[2022-04-17 22:04] chixiangzhou commented on #147
Hi @aconrad ,

When I used the command you provided, I got the same output as you did.

I believe it is 2.1.0. I installed pycobertura using the following command:
`pip install pycobertura`

I used the following command to invoke pycobertura:
[code]

In addition, I noticed the sum of Column "Cover" seems not right. See the screenshot below:
![image](https://user-images.githubusercontent.com/243776

[2022-04-18 09:09] gro1m commented on #133
@aconrad
The filename problem should be finally resolved with: https://github.com/aconrad/pycobertura/pull/140.

[2022-04-18 09:18] gro1m commented on #146
@notpushkin How do you get along with this PR? It seems the changes the resolution of the pytest coverage issue brings will be minor, if this time I really have found the solution. For more info please look at: #140.

[2022-04-18 09:22] gro1m commented on #119
@marwin1991 Can you explain why `coverage combine` does not satisfy your needs or why the integration into `pycobertura` would be extremely helpful? - see also the link by @aconrad above: https://coverage.readthedocs.io/en/stable/cmd.html#cmd-combine.

[2022-04-18 18:20] aconrad commented on #147
That command looks good to me. It's a little tricky to help with the bug you encountered without a full test scenario. Any chance you can put together a minimal viable use case that demonstrates the issue?

That summary table only shows the files that have changed. The TOTAL row you see is correct but lacks decimal precision. That TOTAL accounts for the _overall_ coverage change for the _whole_ pr

[2022-04-18 20:55] aconrad commented on #146
I'm marking this issue for milestone 3.0 since it would be a breaking change.

[2022-04-18 21:06] aconrad opened #148 ""Missing" column shouldn't include covered lines"
Currently, the "Missing" column shows uncovered lines introduced as well as newly covered ones. Showing covered lines under "Missing" is confusing because developers care about uncovered lines and, well, if it's covered then it's not missing. 😏

See [original comment](https://github.com/aconrad/pycobertura/issues/142#issuecomment-1092310811).

[2022-04-19 05:22] chixiangzhou commented on #147
Due to data privacy reasons, I cannot directly sent over the source code.
Probably I can send over a modified minimal viable use case that shows the issue. Let me think about it.

Thanks for your detailed explanation! Yes, it makes sense to me now.

[2022-04-20 20:49] gro1m commented on #133
Hi @aconrad As #140, I can close this issue, right?

[2022-04-20 21:24] aconrad commented on #133
Yes! I'll close it. Thanks!

[2022-04-20 21:24] #133 closed

[2022-04-21 23:33] aconrad opened #149 "Can we improve parsing performance?"
This archive contains 2 really large coverage files and it take ~17+ minutes to parse them on an Apple M1 Max.

[code]

https://github.com/aconrad/pycobertura/files/8494425/Archive.zip

[2022-04-24 13:57] gro1m commented on #149
Is there a way to formulate bash commands for the individual statistics that would be much faster, e.g. Filename could be extracted via:
[code]
? I think this would help in getting a more efficient implementation.

[2022-04-24 14:22] aconrad commented on #149
Hey @gro1m, that's a good idea. Although I think the issue is that XML attributes aren't guaranteed to be in order in the XML tag so having a fixed field number like you have could result in getting the wrong filename.

I played around with it and loading the XML isn't too bad (about a second on my laptop). But I noticed that calling a `def total_...()` method takes forever. I didn't have time to

[2022-04-24 14:47] aconrad commented on #149
Another approach I have in mind is the way we parse the XML data using xpath. While xpath has a convenient interface for finding what we care about in the document, calling it is not cheap. On the other hand, lxml has a SAX interface (they call it the target interface) for reading the data. It allows us to iterate over the XML once all while receiving events that the parser emits that let's us kno

[2022-04-24 16:01] gro1m commented on #149
What seems rather quick is the following code snippet I tried via `python -i`:
[code]

[2022-04-24 16:10] gro1m commented on #149
Ah ok I see, the problem is not loading the xml, but deriving the statistics from it...

[2022-04-24 16:30] gro1m commented on #149
Still, we can get coverage via line-rate:
[code]
and total statements via numbers:
[code]
These computations seem all to be very fast and from there we somehow should derive the statistics. The *only* thing needed is to allocate the numbers to the right key (e.g. filename)...

[2022-05-23 15:32] oev81 commented on #149
Hi!

The most hot methods of Cobertura class are
* _get_class_elements_by_filename
* _get_class_element_by_filename

Just replaced them with a [map](https://github.com/aconrad/pycobertura/commit/529dbe6f718dce909dd662b7f0aa90c202f13707)

[2022-06-02 16:23] gro1m commented on #149
@oev81 Can you make a PR and show the performance increase you get? - thanks!

[2022-06-03 17:48] oev81 commented on #149
PR https://github.com/aconrad/pycobertura/pull/151

[2022-06-05 11:53] gro1m commented on #145
@loganharbour Is this related: https://github.com/aconrad/pycobertura/issues/117?

[2022-09-27 16:42] ZaneH opened #156 "Pycobertura requires git to install the Markdown feature"
When installing pycobertura with:

[code]

in my requirements.txt, I appear to be missing functionality (specifically the Markdown format option.)

If I specify the branch as such:

[code]

It comes with the features I expect from pycobertura and just works!

The issue is that we don't want to add git as a dependency for 1 other dependency. Is there a way to update the PyPi version or specify the

[2022-09-27 18:55] aconrad commented on #156
Hi @ZaneH, the markdown features haven't been released yet which explains why it's only available through git. We had a few things we wanted to finish before making a new release. I'll take a look at what is left to make a new release, likely later in the week.

[2022-09-27 19:03] aconrad commented on #144
This should've been addressed with https://github.com/aconrad/pycobertura/pull/155

[2022-09-27 19:03] #144 closed

[2022-09-27 19:26] ZaneH commented on #156
Oh wow perfect timing

Thank you!

[2022-09-27 19:26] #156 closed

[2022-10-04 16:03] #149 closed

[2022-10-04 16:04] #148 closed

[2022-10-04 16:04] #147 closed

[2022-10-08 00:37] aconrad commented on #134
pycobertura 3.0.0 was released

[2022-10-08 00:37] #134 closed

[2022-10-08 00:38] aconrad commented on #146
pycobertura-3.0.0 was released, I hope this release addresses this issue. Please reopen if not.

[2022-10-08 00:38] #146 closed

[2022-10-08 00:39] aconrad commented on #144
pycobertura-3.0.0 was released, I hope this release addresses this issue. Please reopen if not.

[2022-10-08 00:40] aconrad commented on #125
Closing due to inactivity.

[2022-10-08 00:40] #125 closed

[2022-10-08 00:49] aconrad commented on #156
pycobertura 3.0.0 was released

[2022-10-08 00:49] aconrad commented on #149
pycobertura 3.0.0 was released

[2022-10-08 00:49] aconrad commented on #148
pycobertura 3.0.0 was released

[2022-10-12 10:29] ppaalanen commented on #91
Hello,

I had another try with pycobertura-diff on Weston, and it works! It does not choke on "missing" files anymore. The reports look very useful.

I'm also lucky in that I don't care about the test coverage of the generated files. OTOH I can well imagine projects that would care, so I hesitate to just close this issue.

Thanks for a great tool!

I still don't know of any other cobertura diff to

[2022-10-12 11:51] aconrad commented on #91
I'm glad it works for you! Did you try it with pycobertura v3.0.0?

Each project has their own context and needs. This issue doesn't seem active so I'll close it until someone has this need again and we can revisit with a fresh mind and new inputs.

Thanks for your support, it's always appreciated!

Likewise, I don't know any other tools that achieved that. Most tools I've seen overlay coverage in

[2022-10-12 11:52] #91 closed

[2022-10-12 12:04] ppaalanen commented on #91
Yes, I took what pip3 happened to offer which is 3.0.0.

[2022-10-18 12:08] ericnordelo opened #161 "Generate a text report for Terminal with Colors"
I think it would be helpful to have a reporter for Terminal, showing colors depending on the coverage percentage for each covered file.

[2022-10-18 15:56] ericnordelo commented on #161
Hi @aconrad. I've just seen colors only in the diff command, not in the show command, am I missing something?

[2022-10-22 22:08] gro1m commented on #161
Hi @ericnordelo Which columns would you like to have in color: for `Miss` and `Missing` columns or also user-definable for the `Coverage` column?

[2022-10-22 23:01] ericnordelo commented on #161
I'm thinking of color by row, not by column. For example, red row is coverage is under 60 percent, yellow row if coverage is between 60 and 80, and green row if is greater than 80.

[2022-10-24 18:56] aconrad commented on #161
@ericnordelo oh, you are right. We don't show colors for `pycobertura show`. The main reasoning is that what is considered "good" or "bad" is personal/subjective. In addition, using the coverage percentage (line rate) as a metric to determine if the code is good or not hasn't proven to be a stable metric. You can read more about it [here](https://github.com/aconrad/pycobertura#why-is-the-number-of